.ios, .md {
  page-home {
    ion-card {

      max-height: 300px;
      background-color: #fff;
      border-radius: 0;

      h2 {
        margin: 20px;
        font-weight: bold;
      }

      ion-card-header {
        padding: 0;
      }

      ion-card-content {
        font-size: 0.9em;
        opacity: 0.5;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
