<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        Couch Blog
    </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="pushAddPostPage()"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!--
    <ion-list>
        <ion-item (click)="viewPost(post)" *ngFor="let post of posts">
            {{post.title}}
        </ion-item>
    </ion-list>
    -->
    <ion-card (click)="viewPost(post)" *ngFor="let post of posts; let i=index">

        <ion-card-header>
            <!--<img *ngIf="!post._attachments" src="http://placehold.it/600x300">-->
            <!--<img *ngIf="post._attachments" src="http://127.0.0.1:5984/couchblog/{{post._id}}/postImage.jpg">-->
            <img [src]="getPostImage(i)">
            <h2>{{post.title}}</h2>
        </ion-card-header>
        <ion-card-content>
            {{post.content}}
            {{post.imageURL}}
        </ion-card-content>

    </ion-card>
</ion-content>
